
#uppernav{

    background-color: rgba(0, 0, 0, 0.74);
    height: 50px;
    width :100%;
}
html,body{
    height: 100%;
}

#maindiv{

float: left;
height: 100%;
}
#p1{
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 25px;
color: white;
width: 240px;
padding-left: 20px;
padding-top: 10px;
padding-bottom:10px ;
background-color: black;
}
#p2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.664);
    padding-top: 12px;
   margin-left: 300px;
}
#sidenavdiv ul{
    padding-bottom: 100%;
}
#sidenavdiv li{
margin-left: 18px;
margin-top: 20px;
list-style-type: none;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#sidenavdiv a{
 text-decoration: none;
 color: rgba(0, 0, 0, 0.842);
}
#questiondiv{
  
    float: right;
height: 100%;
padding-left: 50px;
padding-right:77.64px;
}
#sidenavdiv{
  
    float: left;

background-color: #F7F9FA;
border-right: 1px solid #aaaaaa;
    height: 100%;
   padding-right: 50px;
    padding-left: 50px;  
}
#questiondiv p{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    color: rgba(7, 7, 7, 0.664);
}
#options{
    border-top: 1px solid #aaaaaa;
    padding-left: 50px;
}

#div1, #div3 {width:340px;height:20px;padding:10px;border:1px solid #aaaaaa;}
#div2, #div4 {width:340px;height:20px;padding:10px;}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;

    
    vertical-align: baseline;
    background: transparent;
}